{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block principal %}
</div>
    <h1>Food</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ food.id }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ asset(food.getUrlFood()) }}" alt="{{ food.imagen }}" width="100px"></td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ food.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ food.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ food.precio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_food_index') }}">back to list</a>

    <a href="{{ path('app_food_edit', {'id': food.id}) }}">edit</a>

    {{ include('food/_delete_form.html.twig') }}
{% endblock %}
